{% extends 'diary/home.html' %}
{% block title %}Создание записки{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <form method="post" enctype="multipart/form-data">
                <div class="card shadow-lg rounded-3">
                    <div class="card-body p-4">
                        {% csrf_token %}
                        <h2 class="fw-bold text-primary mb-4 text-center">Создать новую записку</h2>

                        <div class="mb-4">
                            <label for="id_title" class="form-label fw-semibold">Тема записки:</label>
                            <div class="input-group">
                                {{ form.title }}
                            </div>
                        </div>

                        <div class="mb-4">
                            <label for="id_text" class="form-label fw-semibold">Текст записки:</label>
                            <div class="input-group">
                                {{ form.text }}
                            </div>
                        </div>

                        <div class="d-flex justify-content-between">
                            <button type="submit" class="btn btn-primary px-4 py-2">
                                {% if object %}
                                    Сохранить
                                {% else %}
                                    Создать
                                {% endif %}
                            </button>
                            <a href="{% url 'diary:note_list' %}" class="btn btn-outline-secondary px-4 py-2">Отмена</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
